body {
    font-size: 24px;
}

canvas {
    border: 1px solid black;
    display: inline;
}

input {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 384px;
    height: 384px;
    width: 15px;
    -webkit-appearance: slider-vertical;
    display: inline;
}

html {
    font-family: sans-serif;
}

#wrapperr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    justify-content: center;
    flex-direction: row;
    display: flex;
    max-width: 95%;
}

#explanations {
    display: block;
    margin-left: 2em;
}

#latency,
#computed {
    font-weight: 700;
}